:root {
  --purple: rgb(162, 0, 255);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:has(::before, ::after) {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #030303;
  color: white;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
}

.container {
  width: min(600px, 95%);
  margin-inline: auto;
  display: grid;
  gap: 2em;
}

.intro > * {
  margin-block: 1rem;
}
.intro > * select {
  width: 100%;
  font-size: 1.25em;
}

.intro select {
  appearance: none;
  border: solid 1px white;
  background: #030303;
  color: white;
  padding: 0.5rem 1rem;
  outline: none;
}
.intro select:is(:focus, :focus-within) {
  border-color: var(--purple);
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.input input {
  padding: 0.5em;
  background-color: transparent;
  font-size: 16px;
  caret-color: var(--purple);
  color: white;
  border: solid 1px white;
  transition: 250ms;
  outline: none;
  &:focus {
    border-color: var(--purple);
  }
}

.input button {
  all: unset;
  border: solid 1px var(--purple);
  padding: 0.5em;
  cursor: pointer;
  transition: 200ms;
  text-align: center;
}
@media (hover) {
  .input button:is(:hover, :focus) {
    background-color: var(--purple);
  }
}

.output h3 {
  font-size: 20px;
}
.output h3 span {
  color: var(--purple);
}
